html {
  font-size: $fontS-primary;
}

@media (max-width: $xl) {
  html {
    font-size: $fontS-medium;
  }
}

@media (max-width: $lg) {
  html {
    font-size: $fontS-small;
  }
}

body {
  font-family: $fontF-primary;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  transition: 0.4s;
  &:hover {
    color: unset;
  }
}

// Comment if you are using bootstrap
// .main {
//   max-width: $maxFluid;
//   padding: 0 2rem;
//   margin: auto 0;
//   background-color: $grey;
//   overflow-x: hidden;
// }

.container {
  @include sm {
    padding: 0 15px;
  }
}
