// Colors
$color-white: #fff;
$color-primary: #ff6600;
$color-grey: #dfdfdf;
$color-dark: #707070;
$color-bright: #f6f6f6;
$color-black: #111111;

// Breakpoints
$xs: 0;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;
$xxxl: 1600px;
$maxFluid: 1920px;

// Font family variables
$fontF-primary: "Prompt", arial, sans-serif;
$fontF-bold: "helvetica-bold", arial, sans-serif;

// Font size variables
$fontS-primary: 10px;
$fontS-medium: 9px;
$fontS-small: 8px;
